@font-face {
	font-family: 'PT Mono';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/pt_mono_cyrillic.woff2) format('woff2');
}

@font-face {
	font-family: 'PT Mono';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/pt_mono_latin.woff2) format('woff2');
}

* {
	margin: 0;
	padding: 0;
	font-family: 'PT Mono', monospace;
}

body {
	background: #f1f1f1;
}

#menu {
	text-align: center;
	background: #333;
	box-shadow: 0 0 15px #333;
}

li {
	display: inline-block;
	padding: 10px;
	color: #f3b222;
	font-size: 25px;
	position: relative;
}

li:hover {
	background: rgba(10, 10, 10, 0.3);
}

.active {
	background: rgba(10, 10, 10, 0.3);
}

#container {
	margin: auto;
	width: 900px;
	height: 120px;
}

#block_00 {
	position: absolute;
	margin-top: 10px;
	width: 900px;
	height: 20px;
	text-align: center;
}

#block_01 {
	position: absolute;
	margin-top: 40px;
	width: 900px;
	height: 400px;
}

input:focus {
	display: inline-block;
	outline: none;
}

#inp_01 {
	margin-top: 30px;
	width: 320px;
	height: 40px;
	text-align: center;
	border-radius: 20px;
	font-size: 2em;
	border: 1px solid #cccccc;
	color: #555;
	box-shadow: inset 0 -1px 2px rgba(200, 200, 200, 0.8);
}

#inp_02 {
	margin-top: 30px;
	margin-left: 20px;
	width: 320px;
	height: 40px;
	text-align: center;
	border-radius: 20px;
	font-size: 2em;
	border: 1px solid #cccccc;
	color: #555;
	box-shadow: inset 0 -1px 2px rgba(200, 200, 200, 0.8);
}

#button {
	margin-top: 30px;
	margin-left: 20px;
	width: 200px;
	height: 40px;
	text-align: center;
	border-radius: 20px;
	font-size: 2em;
	border: 1px solid #cccccc;
	background: #eee;
	color: #555;
	box-shadow: 0 1px 4px rgba(200, 200, 200, 0.8);
}

button:focus {
	outline: none;
}

table {
	margin: auto;
	border-collapse: collapse;
}

td {
	border: 1px solid rgba(200, 200, 200, 0.5);
	height: 25px;
}

th {
	border: 1px solid rgba(200, 200, 200, 0.5);
	color: #c65555;
	height: 25px;
}

.result:hover {
	background: rgba(200, 200, 200, 0.5);
}

.number {
	font-size: 1.2em;
	color: #c65555;
	text-align: center;
	width: 30px;
}

.ip, .netmask {
	font-size: 1.2em;
	color: #555;
	font-weight: bold;
	width: 200px;
}

.routing {
	font-size: 1.2em;
	color: #555;
	font-weight: bold;
	width: 900px;
}

#answer {
	font-size: 1.2em;
	color: #555;
	text-align: center;
	font-weight: bold;
}