@font-face {
	font-family: 'PT Mono';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/pt_mono_cyrillic.woff2) format('woff2');
}

@font-face {
	font-family: 'PT Mono';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/pt_mono_latin.woff2) format('woff2');
}

* {
	margin: 0;
	padding: 0;
	font-family: 'PT Mono', monospace;
}

body {
	background: #f1f1f1;
}

#container {
	margin: auto;
	width: 900px;
	height: 400px;
	text-align: center;
}

#menu {
	text-align: center;
	background: #333;
	box-shadow: 0 0 15px #333;
}

li {
	display: inline-block;
	padding: 10px;
	color: #ffc857;
	font-size: 25px;
	position: relative;
}

li:hover {
	background: rgba(10, 10, 10, 0.3);
}

.active {
	background: rgba(10, 10, 10, 0.3);
}

#creator {
	margin-top: 100px;
	font-weight: bold;
	font-size: 22px;
	color: #444;
}

#mail {
	margin-top: 40px;
	font-weight: bold;
	font-size: 22px;
	color: #444;
}

#message {
	margin-top: 40px;
	font-size: 22px;
	color: #444;
}

#advice {
	margin-top: 20px;
	font-size: 22px;
	color: #444;
}

#year {
	margin-top: 100px;
	font-size: 22px;
	color: #444;
}

a:link {
	text-decoration: none;
	color: #444;
}

a:visited {
	text-decoration: none;
	color: #444;
}

a:active {
	text-decoration: none;
	color: #444;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
	color: #444;
}
